apiVersion: apps/v1
kind: Deployment
metadata:
  name: gokube-api
  labels:
    io.kompose.service: gokube-api
spec:
  replicas: 3
  selector:
    matchLabels:
      io.kompose.service: gokube-api
  template:
    metadata:
      labels:
        io.kompose.network/gokube-default: "true"
        io.kompose.service: gokube-api
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: tier
                    operator: In
                    values:
                    - application
      containers:
        - name: gokube-api
          image: lkumbrella/gokube-api:latest
          env:
            - name: APP_ENV
              value: production
            - name: AUTH_AUDIENCE
              value: gokube
            - name: AUTH_DOMAIN
              value: gokube.eu.auth0.com
            - name: LOGLEVEL
              value: information
            - name: MONGO_CONNECTION_STRING
              value: my-user:gokube-password@example-mongodb-0.example-mongodb-svc.default.svc.cluster.local:27017,example-mongodb-1.example-mongodb-svc.default.svc.cluster.local:27017,example-mongodb-2.example-mongodb-svc.default.svc.cluster.local:27017/admin?replicaSet=example-mongodb&ssl=false
            - name: MONGO_DATABASE
              value: gokube
          livenessProbe:
            exec:
              command:
                - curl
                - -f
                - http://localhost:8080/health
            failureThreshold: 10
            initialDelaySeconds: 10
            periodSeconds: 3
            timeoutSeconds: 10
          readinessProbe:
            exec:
              command:
                - curl
                - -f
                - http://localhost:8080/health
            failureThreshold: 5
            initialDelaySeconds: 10
            periodSeconds: 3
            timeoutSeconds: 10
          ports:
            - containerPort: 8080
              hostPort: 8080
          resources: 
            requests:
              memory: "128Mi"
            limits:
              memory: "256Mi"
              cpu: "500m"