name: CI Publish Images

on:
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    name: "Publish images to Docker Hub"
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: API build and push
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile.Api
          push: true
          tags: gokube-api:latest
      -
        name: Outbox build and push
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile.Outbox
          push: true
          tags: gokube-outbox:latest
      -
        name: Consumer build and push
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile.Consumer
          push: true
          tags: gokube-consumer:latest